# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.tools/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/android/unityLibrary
/unity/cleadr/Builds/
/unity/cleadr/Library/
/unity/cleadr/Logs/
/unity/cleadr/Temp/
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc

tflite/current_lane/dataset/train
tflite/current_lane/dataset/test
tflite/current_lane/dataset/val
tflite/current_lane/dataset/labels.json
tflite/current_lane/dataset/annotation/1
tflite/current_lane/dataset/annotation/2
tflite/current_lane/dataset/annotation/3
tflite/current_lane/dataset/annotation/4
tflite/current_lane/dataset/annotation/5
tflite/current_lane/dataset/annotation/frames
tflite/current_lane/dataset/annotation/videos